/*==================== common style ================== */
body {
    font-family: 'Roboto', sans-serif;
    margin: auto;

}



h1 {
    font-size: 4em;
}

/*=======================Banner==================== */
.banner {
    display: flex;
    margin: 50px 100px;
    border-radius: 30px;
    background-color: #101010;
    align-items: center;

}

.greatest-show {
    width: 50%;
    color: #FFFFFF;
    text-align: left;

}

.greatest-show img {
    width: 100%;
}

.greatest-show p {
    margin: 15px 40px;
}

.greatest-show h1 {
    margin: 15px 40px;
}

.greatest-show a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 5px;
    padding: 10px 20px;
}

/*======================= Live Match  ======================*/
.match {
    display: flex;
    justify-content: stretch;
    margin: 25px 100px;

}

/*------------------------ Side box -------------------------- */

.side {
    background-color: #101010;
    border-radius: 20px;
    width: 250px;
    height: 280px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-right: 20px;
}

.side-bar {
    margin: 10px 25px;
    padding: 10px 20px;
    background-color: #FFFFFF;

    border-radius: 20px;
    height: 60px;
    width: 200px;
    font-size: 20px;
    justify-content: center;
    color: #101010;

}

.blog {
    background-color: #FF0000;
    color: #FFFFFF;
}

/*------------ article ---------- */
article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 20px;
}

.country {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.country-flag {
    display: flex;
    align-items: center;

}

.flag {

    margin: 10px;
}

.country p {
    color: rgb(110, 106, 106);
}

/* ===================== Footer ==================== */
footer {
    background-color: #161616;
    padding-bottom: 20px;
    text-align: center;
}

footer h1 {
    color: aliceblue;

}

hr {
    color: darkgray;
    width: 80%;
}

footer span {
    color: gray;
    margin-left: 10px;
}

.media {
    color: aliceblue;
    margin: 5px 15px;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #575454;
}