/*==================== common style ================== */
body {
    font-family: 'Roboto', sans-serif;
    margin: auto;

}



h1 {
    font-size: 4em;
}

/*=======================Banner==================== */
.banner {
    display: flex;
    margin: 50px 100px;
    border-radius: 30px;
    background-color: #101010;
    align-items: center;

}

.greatest-show {
    width: 50%;
    color: #FFFFFF;
    text-align: left;

}

.greatest-show img {
    width: 100%;
}

.greatest-show p {
    margin: 15px 40px;
}

.greatest-show h1 {
    margin: 15px 40px;
}

.greatest-show a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 5px;
    padding: 10px 20px;
}

/*======================= Live Match  ======================*/
.match {
    display: flex;
    justify-content: stretch;
    margin: 25px 100px;

}

/*------------------------ Side box -------------------------- */

.side {
    background-color: #101010;
    border-radius: 20px;
    width: 200px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-right: 20px;
}

.side-bar {
    margin: 10px 25px;
    padding: 10px;
    background-color: #FFFFFF;

    border-radius: 20px;
    height: 50px;
    width: 150px;
    font-size: 15px;
    justify-content: center;
    color: #101010;

}

.blog {
    background-color: #FF0000;
    color: #FFFFFF;
}

/* -----------------Transfer ---------------- */
article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 40px;


}




.transfer {
    border: 1px solid lightgray;
    border-radius: 7px;

}



.transfer-img img {
    margin-bottom: 25px;
}

.transfer-link a {
    text-decoration: none;
    color: #000000;
    margin-top: 40px;
    padding: 5px 25px;
    box-shadow: 5px 5px lightgray;
    border: 1px solid;
    border-radius: 7px;
}

.transfer-info {
    margin: 5px 10px;
}

.transfer-icon {
    display: flex;
    justify-content: space-between;
}

.transfer-icon>.time,
.chat {
    display: flex;
    align-items: center;
}

span {
    color: gray;
    margin-left: 10px;
}

/* ===================== Footer ==================== */
footer {
    background-color: #161616;
    padding-bottom: 20px;
    text-align: center;
}

footer h1 {
    color: aliceblue;

}

hr {
    color: darkgray;
    width: 80%;
}

.media {
    color: aliceblue;
    margin: 5px 15px;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #575454;
}